<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern># %d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{25} - %message%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/home/ec2-user/applications/totoro/web/logback/${container.name}/output.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>/home/ec2-user/applications/totoro/web/logback/${container.name}/output_%d{yyyyMMdd}.%i.log</FileNamePattern>
      <MaxHistory>90</MaxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>300MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{25} - %msg%n</Pattern>
    </encoder>
  </appender>


  <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>


  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ASYNC_FILE" />
  </root>

</configuration>